<html>
  <head>
   <link rel='stylesheet' href='/stylesheets/style.css' />
     <link href="css/bootstrap.min.css" rel="stylesheet">
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script type="text/javascript">

      google.charts.load("current", {packages:['table','corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

          <% if(analysis_data != null) {
              console.log("********************");
              console.log(analysis_data[0]);


              }
          %>

          var data = google.visualization.arrayToDataTable([
              ['Sentence', 'Negative Score'],
                  <% for (var i=0; i<analysis_data.length; i++) {
                      console.log(analysis_data[i].sent_id,analysis_data[i].sent_negative*100) %>
              ['<%= analysis_data[i].sentence%>', <%=analysis_data[i].sent_negative*10%>],
              <% } %>
          ]);

          var data2 = new google.visualization.DataTable();
                      data2.addColumn('string','Sentence');
                      data2.addColumn('number', 'Negative Sentiment');
                      data2.addColumn('number', 'Positive Sentiment');
                      data2.addColumn('number', 'Polarity');
                      data2.addRows([
                              <% for (var i=0; i<analysis_data.length; i++) { %>
                              ['<%= analysis_data[i].sentence%>', <%=analysis_data[i].sent_negative%>,<%=analysis_data[i].sent_positive%>,
                                  <%=analysis_data[i].sent_polarity%>],
                              <% } %>

                         /* ['Mike',  {v: 10000, f: '$10,000'}, true],
                          ['Jim',   {v:8000,   f: '$8,000'},  false],
                          ['Alice', {v: 12500, f: '$12,500'}, true],
                          ['Bob',   {v: 7000,  f: '$7,000'},  true]*/
                      ]);
          var table = new google.visualization.Table(document.getElementById('table_div'));
          table.draw(data2, {showRowNumber: true, width: '100%', height: '100%'});

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
              { calc: "stringify",
                  sourceColumn: 1,
                  type: "string",
                  role: "annotation" }]);

        var options = {
            title: 'Cyberbullying Analysis' ,
            width: 900,
            height: 400,
            bar: {groupWidth: "85%"},
            legend: { position: "none" },
            vAxis: {title: 'Sentence',  titleTextStyle: {color: 'black',size:'10'}},
            hAxis: {title: 'Negative Score',  titleTextStyle: {color: 'black',size:'10'}},
        };

          var chart = new google.visualization.ColumnChart(document.getElementById("chart_div1"));
          chart.draw(view, options);
      }
    </script>
      <script>

          $(function () {


              $('#containerTest').highcharts({
                  chart: {},
                  title: {
                      text: 'Cyberbullying Analysis'
                  },
                  subtitle: {
                      text: 'Negative sentences with the polarity'
                  },
                  plotOptions: {
                      series: {
                          allowPointSelect: true
                      }
                  },
                  series: [{
                      name: 'Sentiment polarity',
                      data: []
                  }]
              });

              var myData1= <%-JSON.stringify(analysis_data)%>
                      console.log("analysis_data for highcharts: "+myData1);
              var mySeries1 = [];

              for (var i=0; i<myData1.length; i++) {
                  console.log("!!!!!!!!"+myData1[i].sent_negative);
                  mySeries1.push([myData1[i].sentence, myData1[i].sent_polarity*10 ]);

              }

              var chart = $('#containerTest').highcharts();
              chart.series[0].setData(mySeries1);

          });

      </script>

      <script>
          $(function () {
              $('#containerBar').highcharts({
                  chart: {
                      type: 'column'
                  },
                  title: {
                      text: 'Negative Sentences Sentiment polarity'
                  },
                  subtitle: {
                      text: 'Source: Twitter Dataset used to train model.'
                  },
                  xAxis: {
                      type: 'category',
                      labels: {
                          rotation: -45,
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  },
                  yAxis: {
                      min: 9.2,
                      title: {
                          text: 'Sentiment polarity'
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  tooltip: {
                      pointFormat: 'Sentiment polarity: <b>{point.y:.1f} </b>'
                  },
                  series: [{
                      name: 'Sentiment polarity',
                      data: [ ]
                          ,
                      dataLabels: {
                          enabled: false,
                          rotation: -90,
                          color: '#FFFFFF',
                          align: 'right',
                          format: '{point.y:.5f}', // one decimal
                          y: 10, // 10 pixels down from the top
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  }]
              });

              var myData2= <%-JSON.stringify(analysis_data)%>
                      console.log("analysis_data for highcharts: "+myData2);
              var mySeries2 = [];

              for (var i=0; i<myData2.length; i++) {
                  console.log("!!!!!!!!"+myData2[i].sent_negative);
                  mySeries2.push([myData2[i].sentence, myData2[i].sent_negative*10 ]);

              }

              var chart = $('#containerBar').highcharts();
              chart.series[0].setData(mySeries2);
          });
      </script>

  </head>
  <body>
  <div>
      <%- include header.ejs %>
  </div><br><br><br>
  <div id="containerTest" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
  <br><br><br><br>
  <div id="containerBar" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
  <br><br><br><br>
    <!--<div id="chart_div1" style="width: 1500px; height: 300px;"></div>
  <br><br><br><br><br><br><br><br><br><br><br>-->
  <div id="table_div" style="width: 750px; height: 600px;"></div>
  <br><br><br><br>


  <div>
      <%- include footer.ejs %>
  </div>
  </body>

</html>